# For Loop

In [1]:
for i in range(4):
    print(i)

0
1
2
3

In [24]:
a=[1,2,3,4]
b=0  #initialization
for i in a:
    b=b+i
    print("sum:",b)

sum: 1
sum: 3
sum: 6
sum: 10

In [4]:
list1=[1,2,4,5,8,6]
for i in list1:
    print(i,end=" ")

1 2 4 5 8 6

In [5]:
for x in range(10):
    print(x,"Hiii")

0 Hiii
1 Hiii
2 Hiii
3 Hiii
4 Hiii
5 Hiii
6 Hiii
7 Hiii
8 Hiii
9 Hiii

In [7]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
for i in range (12,60,2):
    print(i,end=" ")

12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58

In [12]:
# to print sum of whole numbers
a=[1,2,3,4]
sum1 = 0
for i in a:
    sum1=sum1+i
print("Sum",sum1)

Sum 10

In [13]:
gen=['pop','tiid','ndmk','mkdd']
for i in range(1):
    print("hii",gen[i])

hii pop

In [18]:
#write a program to print the even number between 10 to 50
lb=int(input('Enter the number:'))
ub=int(input('Enter the number:'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=" ")

Enter the number: 10
Enter the number: 50

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [26]:
n=int(input('Enter the num:'))
for i in range(n):
      print('*',end=" ")

Enter the num: 5

* * * * *

In [2]:
n=int(input())
for i in range(n):
    print("*"*i)

 6

*
**
***
****
*****

In [1]:
n=int(input('Enter the number:-'))
for i in range (n, 0, -1):
    for j in range(i):
        print("*",end="")
    print()

Enter the number:- 6

******
*****
****
***
**
*

In [4]:
a=5
b=10
list(range(a,b+1))

[5, 6, 7, 8, 9, 10]

In [20]:
n1=int(input("Enter first number:"))
n2=int(input("Enter second number:"))
for i in range(n1,n2+1):
    if i%2==0:
        print(i,end=',')
#  else :
      #  print(i,end=',')

Enter first number: 10
Enter second number: 30

10,12,14,16,18,20,22,24,26,28,30,

In [8]:
n1=int(input("Enter first number:"))
for i in range(n1):# if user put the num 4 then range in 0 to 3
    for j in range(n1+1,):#3+1
        print("$",end=" ,")

Enter first number: 4

$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,$ ,

# List Comprehension

In [11]:
# does not use list comphresion 
squ=[]
for i in range(10):
    squ.append(i**2)
print(squ)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
#using  list comphresion 
squr=[i**2 for i in range(10)]
print(squr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
movies=['hhojooj','nismd','kokokokk']
[len(i) for i in movies]

[7, 5, 8]

In [15]:
list3 =[-2,-3,-4,-7,4,8,9]
abn=[abs(x) for x in list3]
abn

[2, 3, 4, 7, 4, 8, 9]

In [18]:
lis=[-1,2,3,4,5,6]
both =[]
for x in lis:
    if x<2:
        both.append(abs(x))
    else:
        both.append(x**2)
both

[1, 4, 9, 16, 25, 36]

In [19]:
[abs(x) if x<0 else x**3 for x in lis]

[1, 8, 27, 64, 125, 216]

# Set Comprehension

In [26]:
#without
movies=['swapna','12','2018','kalu','maya','atama','2016']
a =set()
for i in movies:
    a.add(len(i))
a

{2, 4, 5, 6}

In [27]:
#with in 
movies=['swapna','12','2018','kalu','maya','atama','2016']
{len(i) for i in movies}

{2, 4, 5, 6}

# Enumerate

In [28]:
#Enumurate is as well as dictionary and it contain in keys and key values

In [33]:
movies={'swapna':10,'kalu':5,'maya':7,'atama':4}# to use this function in index number of ductionary  and
{movie:rating for movie,rating in enumerate(movies)}

{0: 'swapna', 1: 'kalu', 2: 'maya', 3: 'atama'}

# Break Statement in Python

In [44]:
numbers=[1,2,3,4]
for num in numbers:
    if num == 4:
     # print(num)
      break
    print(num)

1
2
3

## Continue Statement In Python

In [34]:
numbers=[1,2,3,4,5,6,7]
for num in numbers:
    if num == 4:
     continue
    print(num)

1
2
3
5
6
7

In [46]:
numbers=[1,2,3,4,5,]
for num in numbers:
    if num == 4:
        continue#break
    print(num)

1
2
3
5

In [89]:
for num in numbers:
    if num == 4:
     continue#break
     print(num)

In [94]:
for num in numbers:
    if num == 4:
     #break 
     continue
print(num)

6

In [3]:
for num in range (1,101):
    if num %5==0 and num%7!=0:
        print(num,end=" ")

5 10 15 20 25 30 40 45 50 55 60 65 75 80 85 90 95 100

In [5]:
# Mathematical Tables 
a=int (input("Enter the number:"))
for i in range(1,11):
    print(a,"*",i,'=',a*i)

Enter the number: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

# For loop with else

In [48]:
num =[1,2,3,7,5,9]
for i in num:
    print(i)
else:
    print("No item in the list")

1
2
3
7
5
9
No item in the list

In [49]:
numb=[1,2,3,4,5,6]
for i in numb:
    if i % 2==0:
        print(i)

2
4
6

In [50]:
numb=[1,2,3,4,5,6]
for i in numb:
    if i % 2==0:
        print(i)
        break

2

# While Loop

Syntax in while loop

In [52]:
#while test_expression:
   # Body of while

In [53]:
x =0
while x<6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [54]:
x =0
while x<6:
    print("x is",x)
    x=x+1

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5

In [1]:
x=8
while x>1:
    print("x is {}".format(x))
    x-=1

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [5]:
i =100
s=20
while i<=400:
    s=s+i
    i+=100
print(s)

1020

In [8]:
x =0
print(x)
while x<8:
    x=x+1
print(x)

0
8

In [10]:
#program to print 0 to 100 (inclusive) while numbers
i=0
while (i<=100):
    print(i,end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [11]:
# PROGRAM to 'n' add natural number --> sum =1+2+3+...+n
n=int(input("Enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("The sum is ",sum)

Enter n: 5

The sum is  15

## While Loop with else

In [5]:
x=8
while x>1:
    print ("x is {} ".format(x))
    x-=1
    if x == 9:
        break
else:
    print('x is no longer greater than 1')

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [7]:
num = [1,2,3,4,5]
index =0
while index < len (num):
    print(num[index])
    index +=1
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

## Factorial

In [13]:
number = int(input("Enter the number"))
result = 1

for i in range( 1,number + 1):
    result *= i
print("The factorial of {} is {}".format(number,result))

Enter the number 5

The factorial of 5 is 120

In [15]:
# Wtrite a program which can compute the function of the given number.
a = int(input())
fact = 1
for i in range (1,a+1):
    fact = fact*i
    print('after',i,'iteratiom the factorial value is :',fact)

 5

after 1 iteratiom the factorial value is : 1
after 2 iteratiom the factorial value is : 2
after 3 iteratiom the factorial value is : 6
after 4 iteratiom the factorial value is : 24
after 5 iteratiom the factorial value is : 120